NameVirtualHost *:443
<VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile /etc/pki/tls/certs/ca.crt
        SSLCertificateKeyFile /etc/pki/tls/private/ca.key
		Servername  <%= servername %>
        DocumentRoot <%= docroot %>
</VirtualHost>
